<h1>決断編集</h1>

<% if @decision.errors.any? %>
  <div>
    <h2><%= @decision.errors.count %>件のエラーがあります</h2>
    <ul>
      <% @decision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @decision do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :category_id, "カテゴリ" %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "選択してください" %>
  </div>

  <div>
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to "戻る", decision_path(@decision) %>
