<h1 class="mb-4">決断編集</h1>

<% if @decision.errors.any? %>
  <div>
    <h2><%= @decision.errors.count %>件のエラーがあります</h2>
    <ul>
      <% @decision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @decision, local: true do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title, class: "form-control mb-3" %>
  </div>

  <div>
    <%= f.label :category_id, "カテゴリ" %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "選択してください" %>
  </div>

  <hr>

  <h3>選択肢</h3>

  <%= f.fields_for :options do |option_form| %>
    <div>
      <%= option_form.text_field :content %>
      <%= option_form.check_box :_destroy %>
      <%= option_form.label :_destroy, "削除" %>
    </div>
  <% end %>

  <hr>

  <% if @decision.persisted? && @decision.options.any? %>
  <hr>

  <h3>最終決断</h3>

  <div>
    <%= f.label :selected_option_id, "選択してください" %><br>
    <%= f.collection_select :selected_option_id, @decision.options, :id, :content, include_blank: true %>
  </div>
 <% end %>

  <h3>感情</h3>

  <% EmotionType.all.each do |emotion| %>
    <div>
      <%= check_box_tag "decision[emotion_type_ids][]", emotion.id, @decision.emotion_type_ids.include?(emotion.id) %>
      <%= emotion.name %>
    </div>
  <% end %>

  <div>
    <%= f.submit "更新する", class: "btn btn-primary w-100" %>
  </div>
<% end %>

<%= link_to "戻る", decision_path(@decision), class: "btn btn-secondary w-100 mt-2" %>
