<h1>決断詳細</h1>

<h2><%= @decision.title %></h2>
<p>カテゴリ: <%= @decision.category&.name || "未設定"  %></p>
<p>作成日: <%= @decision.created_at.strftime("%Y/%m/%d") %></p>

<hr>

<h3>感情</h3>

<ul>
  <% @decision.emotion_types.each do |emotion| %>
    <li><%= emotion.name %></li>
  <% end %>
</ul>

<hr>

<h3>選択肢</h3>

<ul class="list-group">
  <% @decision.options.each do |option| %>
    <li class="list-group-item"><%= option.content %></li>
  <% end %>
</ul>

<%= form_with model: [@decision, Option.new], local: true do |f| %>
  <%= f.text_field :content, class: "form-control mb-2" %>
  <%= f.submit "追加" %>
<% end %>

<hr>

<%= link_to "編集", edit_decision_path(@decision) %>
<%= link_to "削除", decision_path(@decision),
  data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
<%= link_to "一覧に戻る", decisions_path %>
