<h1 class="mb-4">決断詳細</h1>

<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title"><%= @decision.title %></h2>
     <% date = @decision.decision_emotions.first.recorded_on %>

  <p class="card-text" mb-2">
    日付：
    <%= date == Date.today ? "今日" : date.strftime("%Y年%m月%d日") %>
  </p>
    <p class="card-text">
      カテゴリ: <%= @decision.category&.name || "未設定" %>
    </p>
  </div>
</div>

<hr>

<h3 class="mb-3">感情</h3>

<% if @decision.decision_emotions.present? %>

  <div class="mb-3">
    <% @decision.decision_emotions.each do |de| %>
      <span class="badge bg-primary me-1 mb-1">
        <%= de.emotion_type.name %>
      </span>
    <% end %>
  </div>
<% else %>
  <p class="text-muted">感情はまだ記録されていません</p>
<% end %>

<hr>

<h3>選択肢</h3>

<ul class="list-group mb-3">
  <% @decision.options.each do |option| %>
    <li class="list-group-item d-flex justify-content-between align-items-center <%= 'list-group-item-success' if @decision.selected_option_id == option.id %>">

      <div>
        <%= option.content %>

        <% if @decision.selected_option_id == option.id %>
          <span class="ms-2 badge bg-success">選択中</span>
        <% end %>
      </div>

      <%= button_to "これに決める",
        decision_path(@decision, decision: { selected_option_id: option.id }),
        method: :patch,
        class: "btn btn-outline-success btn-sm" %>

    </li>
  <% end %>
</ul>

<hr>

<h3>最終決断</h3>

<% if @decision.selected_option.present? %>
  <div class="alert alert-success">
    <strong><%= @decision.selected_option.content %></strong> を選択しています
  </div>
<% else %>
  <div class="alert alert-secondary">
    まだ決断していません
  </div>
<% end %>

<hr>

<h3>決断理由</h3>

<% if @decision.reason.present? %>
  <div class="alert alert-secondary">
    <%= @decision.reason %>
  </div>
<% else %>
  <p class="text-muted">
    理由はまだ記録されていません
  </p>
<% end %>

<hr>

<div class="d-flex gap-2">
  <%= link_to "編集", edit_decision_path(@decision), class: "btn btn-warning" %>
</div>

<%= link_to "一覧に戻る", decisions_path, class: "btn btn-secondary w-100 mt-3" %>
